<div class="jumbotron">
  <h1>Compiler Research</h1>
  <p>We believe in the power of collaboration and knowledge-sharing. Compiler-research.org provides a platform where researchers from Princeton University and CERN, as well as contributors from around the world, can come together to exchange ideas, share insights, and engage in interdisciplinary collaborations. By focusing on interpretative C/C++/CUDA, automatic differentiation tools, and C++ language interoperability with Python, our goal is to revolutionize scientific software development and contribute to the evolution of programming languages.</p>
  <p><a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more</a></p>
</div>

