<div class="row">
	<div class="col-sm-6 col-md-3">
	  <div class="thumbnail">
		<a href="/publications/">
		  <img src="\images\thumbnails\publications.jpg" alt="thumbnail">
		</a>
		<div class="caption">
		  <a href="/publications/">
        <h3 style="text-align: center;">Publications</h3>
      </a>
		</div>
	  </div>
	</div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
		<a href="/presentations/">
		  <img src="\images\thumbnails\presentations.jpg" alt="thumbnail">
		</a>
      <div class="caption">
        <a href="/presentations/">
          <h3 style="text-align: center;">Presentations</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
		<a href="/projects/">
		  <img src="\images\thumbnails\projects.jpg" alt="thumbnail">
		</a>
      <div class="caption">
        <a href="/projects/">
            <h3 style="text-align: center;">Projects</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
		<a href="/tutorials/">
		  <img src="\images\thumbnails\tutorials.jpg" alt="thumbnail">
		</a>
      <div class="caption">
        <a href="/tutorials/"> 
            <h3 style="text-align: center;">Tutorials</h3> 
        </a>
      </div>
    </div>
  </div>

</div>